<div class="loading">
  <h3 class="loading-text">Loading...</h3>
</div>
<div class="px-2 py-20">
  <img class="company-logo">
  <a class="website"></a>
</div>
<div class="grid grid-cols-3 col-gap-4 row-gap-6 py-2">
  <div class="violet">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Price</span>
    <span class="attr-value price px-2">---</span>
  </div>
  <div class="dark">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Market Capital</span>
    <span class="attr-value market-capital px-2">---</span>
  </div>
  <div class="violet">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Last Dividend</span>
    <span class="attr-value last-dividend px-2">---</span>
  </div>
</div>
<div class="grid grid-cols-3 col-gap-4 row-gap-6 py-2">
  <div class="violet">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Currency</span>
    <span class="attr-value price px-2">---</span>
  </div>
  <div class="dark">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Exchange</span>
    <span class="attr-value market-capital px-2">---</span>
  </div>
  <div class="violet">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Sector</span>
    <span class="attr-value last-dividend px-2">---</span>
  </div>
</div>
<div class="grid grid-cols-3 col-gap-4 row-gap-6 py-2">
  <div class="violet">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Industry</span>
    <span class="attr-value industry px-2">---</span>
  </div>
  <div class="dark">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Country</span>
    <span class="attr-value country px-2">---</span>
  </div>
  <div class="violet">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Discounted cash flow</span>
    <span class="attr-value dcf px-2">---</span>
  </div>
</div>
<div class="grid grid-cols-3 col-gap-4 row-gap-6 py-2">
  <div class="violet">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Changes percent</span>
    <span class="attr-value changes-percent px-2">---</span>
  </div>
  <div class="dark">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Day low</span>
    <span class="attr-value day-low px-2">---</span>
  </div>
  <div class="violet">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Day high</span>
    <span class="attr-value day-high px-2">---</span>
  </div>
</div>
<div class="grid grid-cols-3 col-gap-4 row-gap-6 py-2">
  <div class="violet">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Year low</span>
    <span class="attr-value year-low px-2">---</span>
  </div>
  <div class="dark">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Year high</span>
    <span class="attr-value year-high px-2">---</span>
  </div>
  <div class="violet">
    <span class="attr-name font-bold px-2 border-r border-gray-500">Open</span>
    <span class="attr-value open px-2">---</span>
  </div>
</div>