<div class="loading">
  <h3>Loading...</h3>
</div>
<div class="detail-row row">
  <div class="col">
    <img class="company-logo">
    <ul class="detail-list" style="list-style-type: none;">
      <li><a class="website"></a></li>
      <li class="price"></li>
      <li class="market-capital"></li>
      <li class="last-dividend"></li>
      <li class="currency"></li>
      <li class="exchange"></li>
      <li class="sector"></li>
      <li class="industry"></li>
      <li class="country"></li>
      <li class="dcf"></li>
      <li class="changes-percent"></li>
      <li class="day-low"></li>
      <li class="day-high"></li>
      <li class="year-low"></li>
      <li class="year-high"></li>
      <li class="open"></li>
      <li class="previous-close"></li>
    </ul>
  </div>
</div>