<div class="container">
    <h3 class="players-heading">Top 3 gainers and losers of the day</h3>
    <div class="row players-row">
        <div class="col-lg-2">
            <div class="card text-white gainer mb-3" style="max-width: 18rem;">
                <div class="card-header">Gainer</div>
                <div class="card-body">
                    <h5 class="company-name1 card-title">Loading...</h5>
                    <p class="price1 card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-white gainer mb-3" style="max-width: 18rem;">
                <div class="card-header">Gainer</div>
                <div class="card-body">
                    <h5 class="company-name2 card-title">Loading...</h5>
                    <p class="price2 card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-white gainer mb-3" style="max-width: 18rem;">
                <div class="card-header">Gainer</div>
                <div class="card-body">
                    <h5 class="company-name3 card-title">Loading...</h5>
                    <p class="price3 card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-white loser mb-3" style="max-width: 18rem;">
                <div class="card-header">Loser</div>
                <div class="card-body">
                    <h5 class="company-name4 card-title">Loading...</h5>
                    <p class="price4 card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-white loser mb-3" style="max-width: 18rem;">
                <div class="card-header">Loser</div>
                <div class="card-body">
                    <h5 class="company-name5 card-title">Loading...</h5>
                    <p class="price5 card-text"></p>
                </div>
            </div>
        </div>
            <div class="col-lg-2">
            <div class="card text-white loser mb-3" style="max-width: 18rem;">
                <div class="card-header">Loser</div>
                <div class="card-body">
                    <h5 class="company-name6 card-title">Loading...</h5>
                    <p class="price6 card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>