body {
    text-align: center;
    background-color: #f4f4f2;
}

.navigation {
    position: fixed;
    z-index: 1;
    background-color: #000;
    width: 100%;
}

.nav-link, .navbar-brand {
    color: #fff;
    text-decoration: none;
}

.navbar-brand {
    color: #bc6ff1;
    background-color: #fff;
    padding: 0% 1%;
    border-radius: 2%;
    font-family: 'Big Shoulders Inline Text', cursive;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.navbar-brand:hover {
    color: #000;
}

.nav-link:hover {
    color: #ddd;
    font-size: 1.1rem;
}

.home {
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('../images/stocks.jpg');
    background-attachment: fixed;
    padding: 25rem;
    text-align: left;
}

.heading {
    font-size: 5rem;
    color: #fff;
    width: 30%;
    border-bottom: #52057b;
    margin: 30px 0; 
    border-style: none none double;
    border-width: 1rem;
}

.sub-heading {
    font-size: 1.5rem;
    color: #000;
    padding: 1% 3%;
    display: inline;
    background: linear-gradient(rgba(244, 244, 242, 0.7), rgba(244, 244, 242, 0.5));
}

.input-form {
    background-color: #f4f4f2;
    padding: 20rem;
    padding-bottom: 5rem;
    padding-top: 0;
}

.form-heading {
    margin: 2rem 0;
    font-size: 3rem;
    color: #321f28;
}

.name-input {
    color: #52057b;
    border: 2px solid #892cdc;
    width: 30%;
    padding: 1%;
    margin-bottom: 1rem;
}

.loading {
    margin-top: 5rem;
    display: none;
}
.fetch {
    margin: 1%;
    background-color: #bc6ff1;
    font-size: 1.5rem;
}

.violet .attr-name {
    padding: 1% 2%;
    background-color: #bc6ff1;
    color: #f4f4f2;
    box-shadow: 2px 2px 2px #000;
}

.violet .attr-value {
    padding: 1% 2%;
    background-color: #52057b;
    color: #f4f4f2;
    box-shadow: 2px 2px 2px #000;
}
.dark .attr-name {
    padding: 1% 2%;
    background-color: #321f28;
    color: #f4f4f2;
    box-shadow: 2px 2px 2px purple;
}

.dark .attr-value {
    padding: 1% 2%;
    background-color: #000;
    color: #f4f4f2;
    box-shadow: 2px 2px 2px purple;
}

.loading-text {
    font-size: 2rem;
    color: #892cdc;
    padding: 2rem;
}

.company-logo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: inline-block;
}

.website {
    font-size: 1.5rem;
    padding: 4rem;
    font-family: 'Big Shoulders Inline Text', cursive;
}

.website:hover {
    text-decoration: none;
    color: #52057b;
}

.gainer {
    background-color: #335d2d;
    border: #321f28 solid 5px;
    height: 200px;
    overflow-y: scroll;
}

.loser {
    background-color: #a20a0a;
    border: #321f28 solid 5px;
    height: 200px;
    overflow-y: scroll;
}

.card-header {
    font-weight: bold;
    font-size: 1.2rem;
}

.players-heading {
    margin-top: 10rem;
    font-size: 3rem;
    color: #321f28;
}

.players-row {
    padding: 2rem;
}

.news-heading {
    padding: 7rem;
    font-size: 5rem;
    color: #52057b;
    font-weight: bold;
    font-family: 'Big Shoulders Inline Text', cursive;
}

.news {
    padding: 0 15rem 15rem;
}

.news-card {
    margin: 2rem;
    height: 400px;
    overflow-y: scroll;
}

.news-date {
    padding: 0.3rem;
}

hr {
    color: #321f28;
    border: #321f28 solid 2px;
}

.news-title {
    font-size: 1.2rem;
    color: #52057b;
    font-weight: bold;
    padding: 0.5rem;
}

.list-ticker {
    padding: 5rem;
}

.list-ticker-table {
    border: 5px solid #bc6ff1;
}

td {
    padding: 0.5rem;
    font-size: 1.2rem;
}

tr:nth-child(odd) {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #bc6ff1;
    color: black;
}

footer {
    color: #fff;
    background-color: #000;
    padding: 5rem;
}

.copyright {
    font-size: 1.2rem;
}

.fmp-link {
    color: #fff;
}

.fmp-link:hover {
    color: #ddd;
    text-decoration: none;
}